<%
  is_logined = @user && @channel.extract_users.split("\001").include?(@user.screen_name)
-%>
<script type="text/javascript">
//<![CDATA[
var TL = new Juicr.Timeline();
TL.target = '#timeline';
TL.query = '<%= @channel.query %>';
TL.rpp   = <%= @rpp %>;
TL.page  = <%= @page %>;
TL.setSearchEngine(<%= @channel.search_engine %>);
$('#timeline').ready(function() {
  TL.reload();
});
//]]>
</script>

<h2 id="channel-alias">
  #<%=h @channel.alias %>
</h2>
<p id="channel-description"><%=h @channel.description %></p>

<div id="channel-navi">
  <%= link_to_function 'Reload', 'TL.reload()' %> |
  <%= link_to 'New',  new_channel_path() %> |
  <%= link_to 'Edit', edit_channel_path(@channel) %> |
  <%= link_to 'Back', channels_path %>
</div>

<% if is_logined -%>
  <div id="status-update-form">
    <% remote_form_for :status,
      :url => {:controller =>'statuses', :action => 'update'},
      :datatype => 'json',
      :loading  => <<-JS,
$("#status_update_loading_img").show();
$("#status_update_submit_button").hide();
    JS
      :complete => <<-JS,
$("#status_update_loading_img").hide();
$("#status_update_submit_button").show();
    JS
      :failure  => <<-JS,
eval('e='+request.responseText);
alert('Error: ' + e.error)
    JS
      :success  => <<-JS do |f|
$("#status_text").val("");
TL.insertStatus(request);
    JS
    %>
    <%= f.text_area 'text' %>
    <%= image_tag 'loading.gif', :class => 'loading-img', :id => 'status_update_loading_img' %>
    <%= f.submit 'update', :id => 'status_update_submit_button'  %>
  <% end -%>
</div>
<% end -%>

<!-- autopagerize_page_element -->
<ul id="timeline" class="tlpage<%= @page %>">
</ul>

<p>
<%= link_to 'Prev', :action => :show, :alias => @channel.alias, :page => (@page.to_i - 1) if @page > 1 %>
<%= link_to 'Next',
  { :action => :show, :alias => @channel.alias, :page => (@page + 1)},
  { :rel => 'next' } %>
</p>
