<h2 id="channel-name">
  <%= link_to "@#{@user.screen_name}'s channels" , :controller => 'users', :action => 'show', :screen_name => @user.screen_name %>
</h2>

<p>
  <b>Screen name:</b>
  <%=h @user.screen_name %>
</p>

<p>
  <b>Token:</b>
  <%=h @user.token %>
</p>

<p>
  <b>Secret:</b>
  <%=h @user.secret %>
</p>

<ul class="large-channel-list">
  <% @user.channels.map do |ch| %>
    <%= link_to "<li>##{ch.alias}</li>", :controller => 'channels', :action => 'show', :alias => ch.alias %>
  <% end %>
</ul>


<%# link_to 'Edit', edit_user_path(@user) %> |
<%# link_to 'Back', users_path %>
